page-command-list {
	.commandList {
		padding-left: -50px;
	}
	.listItem {
		background-color: white
	}
	// ******** SLIDES ***************

  ion-slide {
    padding-right: 30px;
	}
	div.swiper-pagination {
   top:20px;
   bottom:inherit;
}
.slide-zoom{
	height: 100%;
}
.no-scroll {
  .scroll-content {
    overflow: hidden !important;
  }
}
.accordion-list{
	width: 100%;
	margin: 0%;
	background-color: color($colors,light);
}
.section{
	background: white;
	color:black;
}
.section-active{
	background:rgb(250, 24, 24);
	color: #ffffff;
	
}
.list-header-no-margin{
	margin: 0% !important;
}
	
	// *******************************
	// .fadeIn {
	// 	animation-name: fadeIn;
	// 	animation-duration: 4s;
		
	// }
	// @keyframes fadeIn {
	// 	from {
	// 		opacity: 0;
	// 	}
	
	// 	to {
	// 		opacity: 1;
	// 	}
	// }

	// @keyframes fivePhasesFadeIn {
	// 	0% {
	// 		right: 0px;
	// 	}
	// 	100% {
	// 		right: 50px;
	// 	}
	// }

	// .fivePhasesFadeIn {
	// 	animation-name: fivePhasesFadeIn;
	// 	animation-duration: 1s;
	// 	animation-iteration-count: infinite;
  // 	animation-direction: alternate;
	// 	position: relative;
	// }

	.fixPadding {
		padding-left: 0px!important;
		padding-right: 0px!important;
	}
}

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}

