<ion-header>
	<ion-toolbar>
		<ion-title>
			Details de la commande
		</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
				<span ion-text color="primary" showWhen="ios">Cancel</span>
				<ion-icon name="close" showWhen="android,browser"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="globalBackground">
	<div class="centerPage">
		<ion-grid>
			<ion-row>
				<ion-col col-6 *ngFor="let meal of command">
					<meal-item *ngIf="meal.count" [meal]="meal"></meal-item>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>