page-current-command {

		// ******** SLIDES ***************
		ion-slide {
			padding-right: 30px;
		}
		ion-slides {
			height: 60%;
		}
}

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}
