<ion-header>

	<ion-navbar>
		<ion-title *ngIf="space && space.name">
			<span style="float: left;">{{ space.name }}</span>
		</ion-title>
	</ion-navbar>

</ion-header>

<ion-content class="globalBackground" padding>
	<ion-fab *ngIf="currentCommand && currentCommand.length" right bottom>
		<button ion-fab color="secondary" (click)="goToCurrentCommand()">
			<ion-icon name="checkmark"></ion-icon>
		</button>
	</ion-fab>
	<br>
	<h3 *ngIf="space && space.name">Les repas offert par {{ space.name }} :</h3>
	<div *ngIf="meals && meals.length">
		<div *ngFor="let meal of meals">
			<meal-item [meal]="meal" [parentComponent]="'home'"></meal-item>
		</div>
	</div>
	<div *ngIf="currentCommand && currentCommand.length">
		<br><br><br>
	</div>
	<div *ngIf="!meals" class="globalCentered">
		<ion-spinner name="bubbles"></ion-spinner>
		Chargement
	</div>
</ion-content>