<ion-header>

	<ion-navbar>
		<ion-title *ngIf="space && space.name">{{ space.name }}</ion-title>
	</ion-navbar>

</ion-header>

<ion-content class="globalBackground" padding>
	<h3 class="textOnRed" *ngIf="space && space.name">Les repas offert par {{ space.name }} :</h3>
	<div *ngFor="let meal of meals">
		<meal-item [meal]="meal" [parentComponent]="'home'"></meal-item>
	</div>
	<div *ngIf="!meals" class="globalCentered">
		<ion-spinner name="bubbles"></ion-spinner>
		Chargement
	</div>
</ion-content>