<ion-card *ngIf="parentComponent == 'home'">
	<div class="hasBackground" [style.backgroundImage]="meal.image ? 'url('+meal.image.secure_url+')' : 'url(../../assets/imgs/logo.png)'" (click)="doSomething()"></div>

	<ion-card-content>
		<ion-card-title>
			{{ meal.name }}
		</ion-card-title>
		<p *ngIf="parentComponent == 'home'" class="lineBreak">
			{{ meal.description}}
		</p>
		<div style="float: left; margin-top: 10px;">
			<ion-badge class="chipPrice">{{ meal.price }} DT</ion-badge>
		</div>

		<div style="float: right;margin-right: 10px;">
			<ion-row>

				<ion-col style="padding: 0; width: 35px;" *ngIf="meal.count > 0">
					<div>
						<button class="fabsBtn" color="light" ion-fab mini>
							{{ meal.count }}
						</button>
					</div>
				</ion-col>

				<ion-col style="padding: 0; width: 35px;" *ngIf="meal.count > 0">
					<div>
						<button class="fabsBtn" color="danger" ion-fab mini (click)="removeFromCommands()">
							<ion-icon name="remove"></ion-icon>
						</button>
					</div>
				</ion-col>

				<ion-col style="padding: 0; width: 35px;">
					<div>
						<button class="fabsBtn" color="secondary" ion-fab mini (click)="addToCommands()">
							<ion-icon name="add"></ion-icon>
						</button>
					</div>
				</ion-col>

			</ion-row>
		</div>
	</ion-card-content>
</ion-card>
<ion-card *ngIf="parentComponent != 'home'" style="width:100%;height: 100%;margin: 0%;background-color:whitesmoke;" >
	<ion-card-header class="globalBackground" style="display:flex;width:150%;height:50%;border-bottom-left-radius:50%;border-bottom-right-radius:50%;margin-left:-25%;margin-right: -25% ;padding-left: 25%;padding-right: 25%;">
		<ion-row style="width: 100%; margin: auto;">
		
			<ion-col *ngIf="meal.count > 0">
		
				<button class="fabsBtn" color="danger" style="top:40%; float: left" ion-fab mini (click)="removeFromCommands()">
					<ion-icon name="remove"></ion-icon>
				</button>
		
			</ion-col>
		
			<img class="hasBackground-command" style="border-radius:50%;position: relative"
				[src]="meal.image ? meal.image.secure_url : '../../assets/imgs/logo.png'" />
			<ion-col>
		
				<button class="fabsBtn" color="secondary" style="top:40%; float: right;" ion-fab mini (click)="addToCommands()">
					<ion-icon name="add"></ion-icon>
				</button>
		
			</ion-col>
		
		</ion-row>
	</ion-card-header>
	
	

	<ion-card-content >
		<ion-card-title>
			{{ meal.name }}
		</ion-card-title>
		<p *ngIf="parentComponent == 'home'" class="lineBreak">
			{{ meal.description}}
		</p>
		<div >
		<div style="float: left; margin-top: 10px;">
			<ion-row>
				<ion-col>
				prix unitaire:
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
				nombre total:
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
				prix total:
				</ion-col>
			</ion-row>
		</div>

		<div style="float: right;margin-right: 10px;">
			<ion-row>
				<ion-col>
				<ion-badge class="chipPrice">{{ meal.price }} DT</ion-badge>
				</ion-col>
			</ion-row>
			<ion-row>

				<ion-col >
					<div>
						<ion-badge class="fabsBtn" color="light" ion-fab mini>
							{{ meal.count }}
						</ion-badge>
					</div>
				</ion-col>

				

			</ion-row>
			<ion-row>
				<ion-col>
				<ion-badge class="chipPrice">{{ meal.price * meal.count }} DT</ion-badge>
				</ion-col>
			</ion-row>
		</div>
		</div>
	</ion-card-content>
</ion-card>