meal-item {
	.hasBackground{
		
		height: 150px;
		
		
		
	}
	.hasBackground-command{
		height: 150px;
		width: 150px;
	}
	ul#menu li {
		display:inline;
	}
	.fabsBtn {
		width: 30px!important;
    height: 30px!important;
	}
	.chipPrice {
		background: #f4335a;
		font-size: 1.3em;
	}


}
