<ion-card >
	<div class="hasBackground" 
		[style.backgroundImage]="meal.image ? 'url('+meal.image.secure_url+')' : 'url(../../assets/imgs/logo.png)'" 
		(click) ="doSomething()">
	</div>

	<ion-card-content>
		<ion-card-title>
			{{ meal.name }}
		</ion-card-title>
		<p *ngIf="parentComponent == 'home'" class="lineBreak">
			{{ meal.description}}
		</p>
		<div style="float: left; margin-top: 10px;">
			<ion-badge class="chipPrice">{{ meal.price }} DT</ion-badge>
		</div>

		<div style="float: right;margin-right: 10px;">
			<ion-row>

				<ion-col style="padding: 0; width: 35px;" *ngIf="meal.count > 0">
					<div>
						<button class="fabsBtn" color="light" ion-fab mini>
							{{ meal.count }}
						</button>
					</div>
				</ion-col>

				<ion-col style="padding: 0; width: 35px;" *ngIf="meal.count > 0">
					<div>
						<button class="fabsBtn" color="danger" ion-fab mini (click)="removeFromCommands()">
							<ion-icon name="remove"></ion-icon>
						</button>
					</div>
				</ion-col>

				<ion-col style="padding: 0; width: 35px;">
					<div>
						<button class="fabsBtn" color="secondary" ion-fab mini (click)="addToCommands()">
							<ion-icon name="add"></ion-icon>
						</button>
					</div>
				</ion-col>

			</ion-row>
		</div>
	</ion-card-content>
</ion-card>