page-account {
	.username {
    font-size: 1.3em;
  }
  .label {
    color: #7f7f7f;
	}
	.login-button {
    width: 100%;
    // border-radius: 30px;
    font-size: 0.9em;
    // border: 1px solid #fff;
    background-color: #39acdc;
  }
}
